# Yolo + Nomeroff

cython
setuptools
numpy>=1.18.5
imgaug>=0.4.*
opencv_python<4.5.5 #opencv-python>=4.1.2 - yolo req
scikit_image
asyncio
gitpython
pycocotools
pillow==8.3.2 #Pillow>=7.1.2 - yolo req
tqdm>=4.41.0
matplotlib>=3.2.2
scipy>=1.4.1
torch>=1.8
torchvision>=0.9
PyYAML>=5.4
seaborn>=0.11.0
git+git://github.com/lilohuang/PyTurboJPEG.git
git+https://github.com/ria-com/modelhub-client.git
pytorch_lightning
ipywidgets


# only Yolo main lib --------------------------
requests>=2.23.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4

thop  # FLOPs computation
